.card {
    background-color: red;
    margin: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 12%;
}

.card img {
    width: 90%;
    height: 100%;
    margin: 10px;
    aspect-ratio: 5/6;
    object-fit: cover;
}

.card h1 {
    margin: 0;
    font-size: 20px;
}

.card h2 {
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}

.card p {
    margin: 0 0 20px 0;
}